# Ignore node_modules folder
node_modules

# Ignore build artifacts
/dist
.git/
.github/
# Ignore any files or folders starting with a dot
.*

# Ignore development files
*.log
*.bak
*.tmp

# Ignore configuration files
.env
.env.*

# Ignore package-lock.json
package-lock.json

# Ignore Docker related files
.dockerignore
Dockerfile
docker-compose.yml

# Ignore any other files or folders specific to your project
# Add them here