<div class="font-Monsterrat sm:w-1/2 mx-auto">
    <section>
        <p>Esta página web fue creada como un meme.</p>
        <p>Se tiene en cuenta que la hora de cobro para el contador es a las 21:00 horas, y el día de cobro
            es el último día hábil de cada mes. El aguinaldo, aunque no sabemos cuándo se paga en realidad, le hemos
            puesto
            el
            16 de diciembre por diversión.</p>
        <p>En el botón de sugerencias pueden enviar cualquier cosa que deseen que se agregue o modifique,
            pero evitando contenido promocional o spam.</p>
        <p>Gracias por visitar el sitio y ¡que vivan las nutrias!</p>

        <img class="image mx-auto mt-8 mb-7" src="assets/nutriologo.png" alt="Nutria">
        <hr />
        <small>Atte. </small>
        <small>Lic. Nutriologo.</small>
    </section>
</div>