<div class="info-container">
    <section class="info-section">
        <p>Esta página web fue creada como un meme.</p>
        <p>Se tiene en cuenta que la hora de cobro para el contador es a las 21:00 horas, y el día de cobro
            es el último día hábil de cada mes. El aguinaldo, aunque no sabemos cuándo se paga en realidad, le hemos
            puesto
            el
            16 de diciembre por diversión.</p>
        <p>En el botón de sugerencias pueden enviar cualquier cosa que deseen que se agregue o modifique,
            pero evitando contenido promocional o spam.</p>
        <p>Gracias por visitar el sitio y ¡que vivan las nutrias!</p>
        <img class="image" src="assets/nutriologo.png" alt="Nutria">
        <small>Atte. </small>
        <small>Lic. Nutriologo.</small>
    </section>
</div>