<div class="title-container">
    <h3 class="title">Página que te avisa cuando cuanto falta para cobrar</h3>
</div>


<div class="countdown-container">
    <div class="countdown">
        <div class="time-section">
            <span class="time">{{ days }}</span>
            <div class="label">días</div>
        </div>
        <div class="time-section">
            <span class="time">{{ hours }}</span>
            <div class="label">horas</div>
        </div>
        <div class="time-section">
            <span class="time">{{ minutes }}</span>
            <div class="label">minutos</div>
        </div>
        <div class="time-section">
            <span class="time">{{ seconds }}</span>
            <div class="label">segundos</div>
        </div>
    </div>
</div>