<!-- layout.component.html -->
<mat-toolbar class="header">
  <nav class="navbar">
    <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
    <a mat-button routerLink="/sueldo" routerLinkActive="active">Sueldo</a>
    <a mat-button routerLink="/aguinaldo" routerLinkActive="active">Aguinaldo</a>
    <a mat-button routerLink="/memes" routerLinkActive="active">Memes</a>
    <a mat-button routerLink="/informaciones" routerLinkActive="active">Informaciones</a>
    <a mat-button href="https://github.com/noteregalesuwu/when_cobramos/issues" target="_blank">Sugerencias</a>
  </nav>

</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer">
  <app-visitor-count></app-visitor-count>
</mat-toolbar>

@if (isLoading) {
<app-loader></app-loader>
}