<div class="title-container">
    <h3 class="text-md sm:text-2xl m-auto text-primary font-monsterrat">Página que te avisa cuando cuanto falta para
        cobrar el
        aguinaldo</h3>
</div>


<div class="flex flex-row sm:w-1/2 sm:mx-auto justify-around bg-gray-200 rounded-md">
    <div class="text-primary text-xl">
        <div class="w-full flex justify-center">{{ days }}</div>
        <div class="">días</div>
    </div>
    <div class="text-primary text-xl">
        <div class="w-full flex justify-center">{{ hours }}</div>
        <div class="">horas</div>
    </div>
    <div class="text-primary text-xl">
        <div class="w-full flex justify-center">{{ minutes }}</div>
        <div class="">minutos</div>
    </div>
    <div class="text-primary text-xl">
        <div class="w-full flex justify-center">{{ seconds }}</div>
        <div class="">segundos</div>
    </div>
</div>

<section class="text-center w-full">
    <button mat-raised-button class="mt-5 mb-5 active:scale-125 font-Monsterrat" routerLink="/sueldo">
        <span class="text-primary font-Monsterrat">Y cuanto falta para cobrar el sueldo?</span>
    </button>
</section>