/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: Montserrat;
  src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css o styles.scss */
.light-theme .custom-toolbar {
  background-color: #20d3a4; /* Color para el tema claro */
}

.dark-theme .custom-toolbar {
  background-color: #126d55; /* Color para el tema oscuro */
}
